@font-face {
    font-family: 'yard';
    src: url('../assets/yardsale-webfont.eot');
    src: url('../assets/yardsale-webfont.eot?#iefix') format('embedded-opentype'),
    url('../assets/yardsale-webfont.woff2') format('woff2'),
    url('../assets/yardsale-webfont.woff') format('woff'),
    url('../assets/yardsale-webfont.ttf') format('truetype'),
    url('../assets/yardsale-webfont.svg#yard_saleregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'yard', sans-serif;
}

.preload-font {
    font-family: 'yard', sans-serif;
}

body {
    background: #d5e0f6;
}

canvas {
    box-shadow: rgba(0, 0, 0, 0.2) 3px 6px 11px;
}